/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    background: gray; 
    color: black;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

p {
    line-height: 1.5;
}